.dashboard-main-container
    position: absolute
    top: 0
    right: 0
    height: 100vh
    z-index: 0
    display: flex
    padding: 27px
    flex-direction: column
    background-color: $lightbackground

.dashboard-main-container h2 
    font-size: 1.9rem
    margin-left: 5px
    color: $darkblue

.widget-main-container
    height: 100%
    display: flex

.widget-container
    padding: 18px

.widget-border
    border-radius: 15px
    height: 100%
    box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.136)
    padding: 25px 32px
    background-color: white

.widget-border h3 
    color: $lightblue
    font-size: 1.4rem
    opacity: 0.8

    
