.flight-card-main-container
    height: 50px
    width: 100%
    margin: 0
    border-bottom: 1px solid $bordergray 
    color: $darkblue
    background-color: white

.flight-card-main-container.clickable
    cursor: pointer

.flight-card-main-container.clickable:hover
    background-color: $lighterblue
    font-weight: 500
    transition: background-color 0.2s linear

// .flight-card-main-container:hover

.swap-btn-list
    height: 30px
    font-size: 0.9rem
    padding: 0 
    width: 70px

.flight-offer-radio
    cursor: pointer