.swap-main-container
    position: absolute
    top: 0
    right: 0
    height: 100vh
    display: flex
    padding: 27px
    flex-direction: column
    background-color: $lightbackground

.swap-main-container h2 
    font-size: 1.9rem
    margin: 3px 0 15px 8px 
    color: $darkblue

.swap-main-container .main
    height: 50%
    margin: 18px 0
    padding: 0 20px

.swap-inner-container
    height: auto
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0,0.135)
    border-radius: 8px
    background-color: white
    padding: 25px 32px
    position: relative

.swap-inner-container h3 
    color: $lightblue
    font-size: 1.4rem
    opacity: 0.9
    margin-bottom: 8%

.swap-middle-btn-container
    display: flex
    justify-content: center
    align-items: center

.swap-middle-btn-div
    font-size: 1.5rem
    color: white
    border-radius: 50%
    background-color: $lightblue

.swap-middle-btn-div:hover
    background-color: $yellow
    color: white



