.nav-main-container
    position: absolute
    width: 200px
    margin: 0
    top: 0
    right: 0
    height: 50px
    // background-color: $lightblue
    // color: $lightbackground

.btn-signout
    // color: $lightbackground
    font-size: 1.1rem
    opacity: 0.8
    transition: opacity 0.2s
    margin-right: 20px
    cursor: pointer

.btn-signout:hover
    opacity: 1
    transition: opacity 0.2s

.btn-signout svg
    margin-left: 10px