//Import fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600&family=Unbounded:wght@300;400;500&display=swap')

*
    margin: 0
    padding: 0
    box-sizing: border-box

//Colors
$darkblue: #293241
$lightblue: #3D5A80
$lighterblue: #d6e0eb
$lightbackground: #F4F7F8
$brick: #EE6C4D
$yellow: #FFC106
$green: #27EE2E
$darkgray: #828282

//Fonts
$unbounded: 'Unbounded', cursive