p 
    margin: 0

.widget-main-container
    height: 100%
    display: flex

.widget-container
    padding: 18px

.widget-border
    border-radius: 15px
    position: relative
    height: 100%
    box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.136)
    padding: 25px 32px
    background-color: white

.widget-border h3 
    color: $lightblue
    font-size: 1.4rem
    opacity: 0.9
    height: 15%
    margin:0
    
.wid-inner-div
    height: 85%

.next-flight-inner-div.border-div
    border-right: 1px solid #e8e6e6
    height: 100%

.next-flight-inner-div
    display: flex
    flex-direction: column

.next-flight-inner-div .main
    width: 100%
    height: 80%
    display: flex
    flex-direction: column
    text-align: center
    justify-content: center
    color: $darkblue
    font-size: 0.9rem

.next-flight-inner-div .title
    width: 100%
    height: 20%
    text-align: center
    color: $darkgray
    margin:0
    font-style: italic

.next-flight-inner-div .main p 
    margin: 0

.next-flight-inner-div .departure-detail
    margin-top: 10%

.next-flight-departure-day
    font-size: 1.5rem

.main .arrival-airport
    font-size: 2.5rem

.next-aircraft-img
    margin-bottom: 10%

.forecast-inner-div
    height: 85%

.forecast-inner-div .main
    color: $darkgray
    height: 80%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    font-size: 0.9rem

.forecast-inner-div .title
    height: 20%
    text-align: center
    color: $darkgray
    font-style: italic

.forecast-widget-icon
    height: 59%

.forecast-condition
    margin-bottom: -2%

.forecast-temperature
    font-size: 1.2rem
    color: $darkgray

.forecast-temperature span 
    opacity: 1
    font-size: 1.3rem
    color: #424242
    font-weight: 500

.ground-activity-main
    height: 85%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    font-size: 1rem
    color: $darkgray
    font-style: italic

.ground-activity-container
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    overflow: scroll
    padding: 8px

.activity-widget-card
    height: 2rem
    position: relative 
    width: 100%
    display: flex
    align-items: center
    padding: 0 5%
    min-height: 1rem
    font-style: normal
    justify-content: space-between
    border-radius: 5px
    margin-bottom: 15px
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.136)
    color: black
    font-size: 0.9rem
    cursor: pointer

.activity-widget-card :nth-child(2)
    font-style: italic
    color: $darkgray

.activity-widget-card:hover
    background-color: $yellow
    font-size: 0.95rem
    transition: font-size,background-color 0.2s ease-in-out

.total-hours-main
    height: 85%

.total-hours-main .main
    height: 85%
    display: flex
    align-items: center
    justify-content: center
    font-size: 2rem
    font-weight: 700
    overflow: hidden
    padding: 15px

.total-hours-main .title
    height: 15%
    color: $darkgray
    font-size:0.9rem
    font-style: italic
    display: flex
    justify-content: space-evenly

.total-hours-number
    position: absolute
    display: flex
    flex-direction: column
    text-align: center

.total-hours-number :nth-child(2)
    font-size: 0.9rem
    margin-top: -10px

.hours-legend
    display: block
    height: 0.7rem
    width: 0.7rem
    border-radius: 50%

.hours-legend:first-child
    margin-right: 10px

.hours-legend.flown
    background-color: $yellow

.hours-legend.upcoming
    background-color:#d3d3d3
    
.hours-chart-container
    height: 100%
    width: 100%
    max-height: 100%
    position: relative
    display: flex
    justify-content: center

